body {
    background: #E4E4E9;
}

.container {
    font-family: Magra, sans-serif;
}

.semi-container {
    width: 80%;
}

.header {
    width: 80%;
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 10px;
    color: #E4E4E9;
    background-color: #0D2149;
    opacity: 0.8;
}

.header-left {
    border-right: 2px solid #A4A4A9; 
}

.top-border {
    border-top: 3px solid #0D2149;
